*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #00f265;
}
.weather {
    background-color: #618486;
}
.container-fluid{
    background-color: #7baba6;
}
.nav-link{
    font-size: 25px;
    padding: 6px;
    margin-top: 6px;
    font-weight:2px;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #3b3e3c;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #18ef22;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 300px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #2d3543;
    color: white;
}


.title {
    color: rgb(2, 14, 150);
    font-size: 20px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(78, 5, 205);
    background-color: #d063e1;
    text-align: center;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #000000;
}
